.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login-form{
  padding: 1rem;
}
.username-input, .password-input{
  margin-bottom: 20px;
}
#landing-page{
  height: 100vh;
}
#projects-page{
  height: 100vh;
}
.project-form{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 50%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  margin-top: 20vh;
  border: 2px solid grey;
}
.project-form h1{
  font-size: 30px;
}
.logout-btn{
  background-color: transparent;
  border: none;
}

