html{
  background-color: #DBE2E8;
}
#landing-page{
  height: 100vh;
  background-color: #DBE2E8;
}
.landing-page{
  margin-top: 25vh;
  text-align: center;
  
}
.Typewriter{
  font-size: 75px;
  font-weight: 600;
  color: #1D539A;
}
.landing-page h1{
  font-size: 65px;
  line-height: 30px;
}
.landing-page p{
  font-size: 20px;
  color: #738490;
}
.navbar-home{
  background-color: #DBE2E8;
}
.login-form{
  padding: 1rem;
}
.username-input, .password-input{
  margin-bottom: 20px;
}
h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}
#projects-page{
  height: 100vh;
}
.add-page{
  background-color: #DBE2E8;
}
.project-form{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  margin-top: 10vh;
  border: 2px solid grey;
}
.project-form h1{
  font-size: 30px;
}
.projects-row{
  margin-top: 4vh;
}
.logout-btn{
  background-color: transparent;
  border: none;
}
.footer-btn{
  border: none;
  background-color: transparent;
}
.resume-btn{
  width: 100px;
  border: 3px solid black;
  background-color: transparent;
  padding: .3rem;
  border-radius: 20px;
  transition: .5s;
}
.resume-btn:hover{
  background-color: white;
}
.resume-page{
  background-color: #DBE2E8;
}
.resume-main{
  text-align: center;
}
img{
  text-align: center;
  width: 50%;
  height: auto;
}
.error-message{
  color: red;
  font-size: 10px;
}
@media only screen and (max-width:1200px){
  img{
    width: 70%;
    height: auto;
  }
  
}
@media only screen and (max-width:991px){
  img{
    width: 90%;
    height: auto;
  }
  
}
@media only screen and (max-width:414px){
  img{
    margin-top: 10vh;
    width: 100%;
    height: auto
  }
  
}